.navbar {
    background-color: #3a3b3c;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-div {
    background-color: #ffffff;
    padding: 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.navbar h2 {
    color: #749dc5;
}

.toggle-button-container {
    background-color: #ffffff;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    transition: all 1.5s ease;
}

.darkmode {
    background-color: rgba(128, 128, 128);
}

.circle-button {
    background-color: #749dc5;
    width: 30px;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    left: 0;
}

.move-to-right {
    animation: moveRight 1s forwards;
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    100% {
        left: 30px;
    }
}

.move-to-left {
    animation: moveLeft 1s forwards;
}

@keyframes moveLeft {
    0% {
        left: 30px;
    }

    100% {
        left: 0;
    }
}